<div class="idea-contents">
  <div class="idea-index">
    <div class="content-left">
      <div>
        <% if idea.user.icon.present? %>
          <div class="icon-area">
            <%= image_tag idea.user.icon, class:"icon"%>
          </div>
        <% else %>
          <div class="icon-area">
            <img src="https://cdn.pixabay.com/photo/2020/09/09/13/03/bike-riding-5557589_1280.png" alt="自転車画像" class="icon">
          </div>  
        <% end %>
      </div>
      <div class="check-like", id="likes_buttons_<%= idea.id %>">
        <%= render partial: "likes/like", locals: {idea: idea}%>
      </div>
    </div>
    <div class="content-right">
      <ul>
        <li class="idea name"><%= link_to idea.user.nickname, user_path(idea.user_id), class: "nickname" %></li>
        <li class="idea created_at"><%= l idea.created_at, format: :short %></li>
      </ul>
      <p class="idea content"><%= link_to idea.content, idea_path(idea.id), class: "con" %></p>
      <div class="idea-image-prace">
        <%= link_to idea_path(idea.id) do%>
          <%= image_tag idea.image.variant(resize: '200x300'), class: 'idea-image' if idea.image.attached?%>
        <% end %>
      </div>
    </div>
  </div>
</div>