<% unless user_signed_in? %>
  <div class="top-wrapper">
    <div class="container">
      <div class="top-message">
        <p class="title-message">あなたの欲しいを</p>
        <p class="title-message">創造しよう</p>
      </div>
    </div>
  </div>
<% end %>
<div class="about-wrapper">
  <div class="container">
  </div>
</div>
<div class="index-wrapper">
  <div class="container">
  <p class="section-title">Contents<p>
  <div class="header-middle">
    <%= form_with(url: search_ideas_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  
    <% @ideas.each do |idea| %>
        <%= render "idea", {idea: idea} %>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with(model: @idea, local: true, class:"idea-form") do |form| %>
        <div class="error-message index-error"> 
          <%= render 'layouts/error_messages', model: form.object %>
        </div>
        <%= form.text_area :content, placeholder: "アイディアはここに", class:"content-form", autocomplete: 'off'%>
        <div id="image-list"></div>
        <div class="form-btn">
          <label class="form-image content-btn">
          <span class="image-file"><i class="fa fa-camera" aria-hidden="true"></i></span>
          <%= form.file_field :image, class: 'hidden' , id: 'message_image'%>
          </label>
          <%= form.submit "投稿する", class:"content-btn"%>
        </div>
      <% end %>
    <% end %>
</div>