<div class="container">
  <div class="user-show">
    <div class="user-top"> 
      <div class="user-top-wrapper">
        <div class="user-top-image">
        </div>
        <div class="user-middle-icon">
          <% if @user.icon.present? %>
            <div class="user-show-icon-area">
              <%= image_tag @user.icon, class:"icon"%>
            </div>
          <% else %>
            <div class="user-show-icon-area">
              <img src="https://cdn.pixabay.com/photo/2020/09/09/13/03/bike-riding-5557589_1280.png" alt="自転車画像" class="icon">
            </div>
          <% end %>
        </div>
        <div class="user-bottom">
          <div class="user-show-about">
            <div class="user-show-name">
              <p><%= @user.nickname %></p>
            </div>
            <div class="user-intro">
              <span class="intro-sentence"><%= @user.profile %>
              </span>
            </div>
            <%if user_signed_in? %>
              <%if current_user.id == @user.id %>
                <div class="user-edit-btn">
                  <div data-turbolinks="false">
                    <%= link_to edit_user_path(@user) do %>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% @ideas.each do |idea| %>
      <%= render "ideas/idea", {idea: idea} %>
    <% end %>
  </div>
</div>